/* .Home {
 background-image: url("../images/bg.jpg");
 background-repeat: no-repeat, repeat;
background-color: #cc323c; */
#seg1 {
  background-image: url("../images/bg1.png");
  min-height: 1000px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 50% -8rem;
}

.About {
    /*background-image: url("../images/bg2.png");*/
    min-height: 1000px;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: 50% -8rem;
    /*background-image: url("../images/gif_background-01.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

}


#logo1 {
    display: inline-block;
    height: 200px;
}

.my-3 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

.text-muted {
    color: #6c757d !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

.text-muted2 {
    color: var(--light-black);
    font-size: 20px;
    text-align: center;
    margin-right: 10%;
    font-weight: 700;
}

#text-up1 {
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 2rem;
}

#text-up2 {
  text-align: left;
  font-weight: normal;
  font-size: 25px;
  margin-right: 7%;
  margin-bottom: 2rem;
}

.text-center {
    text-align: center !important;
    display: block;
}

#img1 {
  height: 15rem;
  background-image: url("../images/about1.png");
  background-repeat: no-repeat;
  background-position: center;
}

#title-about {
  font-size: 30px;
  color: var(--yellow);
  text-align: left;
  font-weight: 500;
}
