/* .Home {
 background-image: url("../images/bg.jpg");
 background-repeat: no-repeat, repeat;
background-color: #cc323c; */


#seg1 {
  background-image: url("../images/bg1.png");
  min-height: 900px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 50% -8rem;
}
#seg2 {
  background-image: url("../images/bg2.png");
  background-position: 50% 0%;
  min-height: 900px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  background-repeat: no-repeat;
}
#seg3 {
  background-image: url("../images/bg3.png");
  background-position: 50% 0%;
  min-height: 900px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  background-repeat: no-repeat;
}
#menu-seg {
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
