/* .Home {
 background-image: url("../images/bg.jpg");
 background-repeat: no-repeat, repeat;
background-color: #cc323c; */

#seg1 {
  background-image: url("../images/bg1.png");
  min-height: 1000px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: 50% -8rem;
  z-index: 0;
}

#quiz-content {
  margin: 2rem 0rem 2rem 0rem;
}

#continua-btn {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 3px;
  background-color: var(--yellow);
  color: white;
}

#continua-btn:hover{
  box-shadow: 0 0 10px grey;
  transition: box-shadow 1s;
}

#back-btn {
  margin-top: 10px;
  margin-bottom: 3px;
  background-color: var(--purple);
  color: white;
}

#back-btn:hover {
  box-shadow: 0 0 5px grey;
  transition: box-shadow 1s;
}

#quiz-img-column {
    text-align: left;
    display: block;
    min-height: 400px;
    margin-right: 0;
    overflow: hidden;
}

#quiz-img {
  position: absolute;
  min-height:400px;
  max-height:400px;
  min-width:auto;
  border: 0;
  outline-color: transparent;
  box-shadow: none;
  display: block;
  margin-left: -20px;
  animation-duration: 1s;
  animation-name: appear;
}
/* #img-div{
  position: absolute;
  min-height: 30px;
  min-width: 30px;
} */

.selected-bubbles-div {
  text-align: left;
  position: relative;
}

.buble-div {
  border-radius: 40px;
  outline-color: transparent;
  min-height: 40px;
  max-width: max-content;
  min-width: max-content;
  text-align: left;
  margin: 0px 5px 15px 5px;
  transition: 2s;
  display: inline-flex;
  /* transition: 1s; */
  animation-duration: 1s;
  animation-name: appear;
}

@keyframes appear {
  from {
    /* margin-left: 100%; */
    opacity: 0%;
  }
  to {
    /* margin-left: 0%; */
    opacity: 100%;
  }
}


.buble-p {
  padding: 9px 9px 5px 9px;
  position: relative;
  vertical-align: middle;
  color: var(--white);
}

.b1 {
  background-color: var(--blue);
}

.b2 {
  background-color: var(--pink);
}

.b3 {
  background-color: var(--purple);
}

.b4 {
  background-color: var(--yellow);
}

.b5 {
  background-color: var(--red);
}

.small-label {
  background-color: transparent;
  min-width: max-content;
  font-size: 9pt;
  color: var(--light-gray);
  font-weight: 100;
  margin-left: 10px;
  margin-bottom: 2px;
}

.level-round-div {
  border-radius: 40px;
  outline-color: transparent;
  text-align: center;
  transition: 1s;
  display: inline-flex;
  background-color: var(--light-gray);
  vertical-align: middle;
  color: white;
}

.line {
  position: relative;
  vertical-align: middle;
  transition-duration: 0.6s;
  display: inline-block;
  background-color: var(--light-gray);
}

.level-compleated {
  background-color: var(--yellow);
  display: inline-block;
}

.level-p {
  /* padding: 5px 5px 5px 10.5px; */
  position: absolute;
  vertical-align: middle;
  color: var(--white);

}

.question-div {
  text-align: left;
  margin-left: 45px;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
}

#great-p {
  margin-top: 1rem;
  margin-bottom: -0.1rem;
  font-size: 25pt;
  font-weight: 700;
  /* font-variant-caps: unicase; */
  color: var(--yellow)
}

#review-p {
  margin-top: 1rem;
  margin-bottom: -0.1rem;
  font-size: 13pt;
  font-weight: 700;
  /* font-variant-caps: unicase; */
  color: var(--yellow)
}

#bad-p {
  margin-top: 1rem;
  margin-bottom: -0.1rem;
  font-size: 20pt;
  font-weight: 700;
  /* font-variant-caps: unicase; */
  color: var(--yellow)
}

.question-text-p {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15pt;
  font-weight: lighter;
  color: var(--light-black);
}

.question-item{
  font-size: 12pt;
  font-weight: lighter;
  color: var(--light-black);
}

.radio{
  margin-bottom: 10px;
}

#gift-column {
  display: inline;
  /* max-width: 70%; */
  box-shadow: 0px 0px 5px 1px #d4d4d5, 0 0 0 0px #d4d4d5;
}
.gift-title {
  display: inline;
}

#bar.ui.progress .bar {
    display: block;
    line-height: 1;
    position: relative;
    width: 0%;
    min-width: 2em;
    background: #FED137;
}

#back-quiz-btn {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: var(--pink);
  color: white;
}

#loading {
  width: auto;
  height: 200px;
}
